body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 20px;
    transition: background-color 0.3s, color 0.3s;
}
a {
    color: #21cfbd;
}
.dark-mode {
    background-color: #121212;
    color: #ffffff;
}
.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner img {
    width: 100%;
    max-width: 800px;
}
.extensions {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.extension {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 550px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    background-color: #fff;
    transition: transform 0.2s;
}
.dark-mode .extension {
    background-color: #1e1e1e;
    border-color: #444;
}
.extension img {
    width: 100%;
    min-width: 400px;
    max-width: 500px;
    border-radius: 15px;
}
.extension:hover {
    transform: scale(1.02);
}
.theme-toggle {
    margin-bottom: 20px;
}
.theme-toggle img {
    display: flex;
    width: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
#toggle-theme {
    width: 50px;
    padding: 10px 15px;
    border: none;
    background-color: #004b79;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
#toggle-theme:hover {
    background-color: #053958;
}
